<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div class="left">
    <p th:replace="fragments :: clientNavigation"></p>
</div>

<div class="right">
    <form method = "post" th:object="${clients}">
        <table>
            <tr>
                <td><label th:for="entryDate">Entry Date: </label></td>
                <td><input th:field="*{entryDate}" type="date" /></td>
            </tr>
            <tr>
                <td><label th:for="firstname">Firstname: </label></td>
                <td><input th:field="*{firstname}" type="text" required="required" /></td>
                <td><span th:errors="*{firstname}" class="error"></span></td>
            </tr>
            <tr>
                <td><label th:for="middlename">Middlename: </label></td>
                <td><input th:field="*{middlename}" type="text" required="required" /></td>
            </tr>
            <tr>
                <td><label th:for="lastname">Lastname: </label></td>
                <td><input th:field="*{lastname}" type="text" required="required" /></td>
                <td><span th:errors="*{lastname}" class="error"></span></td>
            </tr>
            <tr>
                <td><label th:for="currentBalance">Current Balance: </label></td>
                <td><input th:field="*{currentBalance}" type="number" min="0" /></td>
            </tr>
            <tr>
                <td><label th:for="clientStatus">Client Status: </label></td>
                <td><select th:field="*{clientStatus}">
                    <option hidden="hidden" selected="selected" th:value="NULL"> -- select an option -- </option>
                    <option th:each="status : ${statuses}"
                            th:text="${status.name}"
                            th:value="${clientStatus}"></option>
                </select></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Enter" /></td>
            </tr>
        </table>
    </form>
</div>


<footer th:replace="fragments:: footer"></footer>

</body>
</html>