<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div class="right">
    <form method = "post" action = "/admin/clients">
        <table>
            <tr>
                <td><label>Username: </label></td>
                <td><input type="text" name="username" required="required" /></td>
            </tr>
            <tr>
                <td><label>Password: </label></td>
                <td><input type="password" name="password" required="required" /></td>
            </tr>
            <tr>
                <td></td>
                <td><span th:text="${error}" class="error"></span></td>
            </tr>
            <tr>
                <td><input type="submit" value="Enter" /></td>
            </tr>
            <tr>
                <td><input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/></td>
            </tr>
        </table>

    </form>
</div>

<footer th:replace="fragments:: footer"></footer>

</body>
</html>