


body
{
	background-color: white;
	height: 100%;
}


h1

{
	/*position: relative;*/
	background-color: #5959BD;
	color: black;
	text-align: center;
	font: 50px bold, Cambria;
	text-shadow: 2px 2px 0px #CFCFF5;
	width: 92%;
	margin: 5px;
	padding: 50px;
	border-radius: 5px;
	z-index: -1;
}


#imageHead {
	width: 100px;
	Height: 100px;
	position: static;
	z-index: 5;
	top: 30px;
	left: 60px;
}



#map_canvas  {
	height: 400px;
	width: 500px;
	background-color: gold;

}

// table style for reviews
.table1{
    border-collapse: collapse;
}

    .table1 tr:first-child{
        font-weight: bold;
        font-size: 20px;
        border-bottom: 5px solid black;
    }

    .table1, .tr1, .td1 {
        padding: 10px;
        text-align: left;
        border: 1px solid black;
        width: 75%;
        border-radius: 18px;
    }



// table style for clients
.table2, .th2, .td2, .tr2 {
    border-collapse: collapse;
	text-align: center;
	padding: 10px;
	width: 100%;
}

    .table2 tr:nth-child(even) {
        background-color: #efefef;
    }

    .table2 tr:hover {
        background-color: #4b545f;
    }

    .table2, .th2, .td2 {
        padding: 10 px;
        text-align: left;
    }


nav ul ul {
	display: none;
}

	nav ul li:hover > ul > li   {
		display:block;
}


nav ul {
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	left: 8px;
	display: inline-table;
	width: 96%;
}

	nav ul::after {
		content: "";
		clear: both;
		display: block;
	}



nav ul li {
	float: left;
	width: 25%;
	text-align: center;

}


	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		nav ul li:hover a {
			color: #fff;
		}

	nav ul li a {
		display: block; padding: 25px 40px;
		color: #757575; text-decoration: none;
		font-size: 20px;
	}


nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none;
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}
			nav ul ul li a:hover {
				background: #4b545f;
			}


nav ul ul ul {
	position: absolute; left: 100%; top:0;
}



.left
{
    position: absolute;
	top: 330px;
	margin: 5px;
	padding: 20px;
	border: 2px solid black;
	width: 35%;
}


.right
{
    position: absolute;
	left: 40%;
	top: 330px;
	border: 2px solid black;
	padding: 20px;
	margin: 5px;
	width: 55%;
	margin-bottom: 20px;
}



.footer
{
    left: 5%;
    height: 60px;
    padding:  20px;
    margin-top: 700px;
    width: 95%;
    background-color: #5959BD;
    text-color: white;
    text-align: right;
}


.error
{
    color: red;
}



#googleMap
{
    width: 600px;
    height: 450px;
    align: middle;
}