<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:replace="fragments :: title"></h1>

<nav th:replace="fragments :: navigation"></nav>

<div class="left">
    <p th:replace="fragments :: scrollingNavigation"></p>
</div>

<div class="right">

    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.9320208402282!2d-90.33780518504696!3d38.650443379609506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8cad50bef9341%3A0x13818a8f9698ca15!2s7733+Forsyth+Blvd%2C+St.+Louis%2C+MO+63105!5e0!3m2!1sen!2sus!4v1534219447092"
                    allowfullscreen="allowfullscreen" id="googleMap"></iframe></center>

    <p>Our office is conveniently located in downtown clayton
    in the Pierre Laclede building at 7733 Forsyth Blvd, Suite 1100.
        We are open Monday through Friday with continuous coverage to
    accept payments and documents from 8:30 until 5:00 p.m.  For our
    clients' convenience we conduct our initial intakes on Saturdays
    by appointment only.  We are available to meet with you during the
    work wee by appointment too,  To schedule an appointment please
    click here.

    </p>
    <center><img src="..\..\images\7733_Forsyth_Blvd.png" alt="Image not Available" /></center>

</div>


</body>
</html>