<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div class="right">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.9320208402205!2d-90.33780518504692!3d38.65044337960952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8cad50bef9341%3A0x13818a8f9698ca15!2s7733+Forsyth+Blvd%2C+St.+Louis%2C+MO+63105!5e0!3m2!1sen!2sus!4v1533690936657" width="300" height="275" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>

<footer th:replace="fragments:: footer"></footer>

</body>
</html>