<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${users} and ${users.size()}">There are currently no reviews in the database</p>

<div class="left">
    <p>Left side of the page</p>
</div>

<div class="right">
    <table th:each="user : ${users}" class="table1">
        <tr>
            <td>Anonymous</td>
            <td th:text="${user.rating}"></td>
        </tr>
        <tr>
            <td colspan="2" th:text="${user.comment}"></td>
        </tr>
        <br />
    </table>

    <br />
    <table>
        <tr>
            <form method="post" action="/reviews/newPost">
            <td><input type="submit" value="Post Comment" /></td>
            </form>
        </tr>
    </table>


</div>


</body>
</html>